body {
  font-family: 'Kristi', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}

.paper{
  background-color: lightgoldenrodyellow;
  padding: 30px;
}

h1 {
  font-size: 4rem;
}

li{
  font-size: 2rem;
  border-bottom: 2px solid lightgrey;
  list-style: none;
  margin-right: 30px;
}